/* body */
body{
	margin: 0px 5px;
}

nav {
	text-align: center;
}
nav ul{
	list-style: none;
	padding-left: 0px;
}
nav li {
	display: inline-block;
}

/* header section */
header #heading{
	text-align: center;
}
h1{
	text-align: center;
	margin: 3px 0px;
}

#slider {
	height: 300px;
  background-color: green;
  overflow: auto;
  position: relative;
}
.arrow {
	font-size: 30px;
  display: inline-block;
}

.arrowContainer {
	display: inline-block;
	height: 100%;
	box-sizing: border-box;
	padding-top: 82px;
}


#left{
	float: left;
}
#right{
	float: right;
}

/*aside */
label {
	display: block;
}

input[type="submit"]{
	display: block;
	text-align: center;
}


/* footer section */

