/* body */
body{
	margin: 0px 8px;
}

/*h2, form{
	/*padding-left: 8px;
}*/

nav {
	text-align: center;
}
nav ul{
	list-style: none;
	padding-left: 0px;
}
nav li {
	display: inline-block;
}

/* header section */
header #heading{
	text-align: center;
}
h1{
	text-align: center;
	margin: 3px 0px;
}

#slider {
	height: 300px;
    background-color: green;
    overflow: auto;
    position: relative;
}

.arrowContainer:hover p {
	background-color: rgba(0,0,0,.2)
}

.arrow {
	font-size: 80px;
    display: inline-block;
}

.arrowContainer {
	display: inline-block;
	height: 100%;
	box-sizing: border-box;
	padding: 20px 8px 0;
}


#left{
	float: left;
}

#right{
	float: right;
	font: 80px;
}

/*aside */
label {
	display: block;
	margin: 6px 0px;
}

input[type="submit"]{
	display: block;
	text-align: center;
}


article {
	margin-top: 10px ;
	border: 1px solid grey;
	border-radius: 5%;
	overflow: hidden;
}

article div{
	display: inline-block;
	width: 50%;
	vertical-align: top;
}

article img { 
	display: block;
    text-align: center;
    width: 100%;
}

article p {
	line-height: .50;
	margin-left:  8px;
}

/* footer section */

